rfid-pay-nodered
[{"id":"aca9c3ca.a9af5","type":"daemon","z":"cf446be9.32d468","command":"python","args":"-u /home/pi/rfidreader.py","cr":true,"redo":true,"op":"string","name":"RFIDReader","x":75,"y":434.5,"wires":[["c360eb9d.2c6c98"],[],[]]},{"id":"c360eb9d.2c6c98","type":"function","z":"cf446be9.32d468","name":"JSON to Object","func":"msg.payload = JSON.parse(msg.payload);\nmsg.topic = 'rfid';\n\nvar rfid = msg.payload.cardUID\n\nmsg.payload = {\n    rfid: rfid,\n    value: 42.23\n};\n\nreturn msg;","outputs":"1","noerr":0,"x":251.00003051757812,"y":424,"wires":[["83814204.71a66","d68fc1c3.7e493","9933d513.bd0578"]]},{"id":"9ac2d14c.9894","type":"rpi-gpio out","z":"cf446be9.32d468","name":"","pin":"7","set":true,"level":"0","freq":"","out":"out","x":576,"y":522,"wires":[]},{"id":"9933d513.bd0578","type":"function","z":"cf446be9.32d468","name":"","func":"msg.payload = 1\nreturn msg;","outputs":1,"noerr":0,"x":403.5,"y":518,"wires":[["9ac2d14c.9894","ca5c91f1.e4b1a"]]},{"id":"ca5c91f1.e4b1a","type":"function","z":"cf446be9.32d468","name":"","func":"msg.payload = 0\nreturn msg;","outputs":1,"noerr":0,"x":533,"y":595,"wires":[["847b0801.768208"]]},{"id":"847b0801.768208","type":"delay","z":"cf446be9.32d468","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":692,"y":593,"wires":[["8f3348d7.e0e288"]]},{"id":"8f3348d7.e0e288","type":"rpi-gpio out","z":"cf446be9.32d468","name":"","pin":"7","set":true,"level":"0","freq":"","out":"out","x":851,"y":594,"wires":[]},{"id":"661b3db8.48b904","type":"mongodb out","z":"cf446be9.32d468","service":"_ext_","mongodb":"83f42df7.5196e","name":"","collection":"Sales","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":1122,"y":321,"wires":[]},{"id":"8ed58fc7.3d78b","type":"http response","z":"cf446be9.32d468","name":"","statusCode":"","headers":{},"x":374.5,"y":101,"wires":[]},{"id":"471d3c12.899d14","type":"http in","z":"cf446be9.32d468","name":"pin","url":"/pin","method":"post","upload":false,"swaggerDoc":"","x":209.5,"y":101,"wires":[["8ed58fc7.3d78b","46dd211d.27dd7","568343f5.4d2e4c"]]},{"id":"83814204.71a66","type":"function","z":"cf446be9.32d468","name":"Payload Handler","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"rfid\":\n        context.data.rfidTask = msg.payload;\n        break;\n    case \"pin\":\n        context.data.pinTask = msg.payload;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n\n}\n\nif(context.data.rfidTask && context.data.pinTask) {\n    var payload = {\n        rfid: context.data.rfidTask.rfid,\n        pinCode: context.data.pinTask.pinCode,\n        value: context.data.rfidTask.value\n    };\n    \n    context.data = {};\n    \n    return { payload: payload };\n}\n\nreturn null;","outputs":1,"noerr":0,"x":617,"y":319,"wires":[["661b3db8.48b904","f0d26be6.9a4918","d470e70f.0538e8"]]},{"id":"f0d26be6.9a4918","type":"debug","z":"cf446be9.32d468","name":"","active":true,"console":"false","complete":"true","x":821,"y":226,"wires":[]},{"id":"46dd211d.27dd7","type":"debug","z":"cf446be9.32d468","name":"","active":true,"console":"false","complete":"false","x":379,"y":43,"wires":[]},{"id":"568343f5.4d2e4c","type":"function","z":"cf446be9.32d468","name":"JSON parser","func":"msg.payload = JSON.parse(msg.payload);\nmsg.topic = 'pin';\nreturn msg;","outputs":1,"noerr":0,"x":378,"y":199,"wires":[["83814204.71a66"]]},{"id":"ef7eb325.aa9e","type":"mongodb in","z":"cf446be9.32d468","service":"_ext_","mongodb":"83f42df7.5196e","name":"Authentication","collection":"Users","operation":"find","x":960,"y":444,"wires":[["d3949e61.6ba93","c8ce4de5.d2cf9"]]},{"id":"d3949e61.6ba93","type":"debug","z":"cf446be9.32d468","name":"","active":true,"console":"false","complete":"false","x":1175,"y":389,"wires":[]},{"id":"d470e70f.0538e8","type":"function","z":"cf446be9.32d468","name":"Query","func":"var query = {\n    rfid: msg.payload.rfid,\n    pinCode: msg.payload.pinCode\n};\nmsg.payload = query;\nmsg.limit = 5;\nmsg.skip = 0;\nreturn msg;","outputs":1,"noerr":0,"x":805,"y":444,"wires":[["ef7eb325.aa9e"]]},{"id":"d68fc1c3.7e493","type":"debug","z":"cf446be9.32d468","name":"","active":true,"console":"false","complete":"true","x":412,"y":319,"wires":[]},{"id":"9914081.49947f8","type":"rpi-gpio out","z":"cf446be9.32d468","name":"","pin":"7","set":true,"level":"0","freq":"","out":"out","x":1333,"y":481,"wires":[]},{"id":"c8ce4de5.d2cf9","type":"function","z":"cf446be9.32d468","name":"","func":"var userList = msg.payload;\nvar success = userList.length > 0;\n\n\nreturn [\n    { payload: success ? 1 : 0 }, \n    { payload: !success ? 1 : 0 }\n];","outputs":"2","noerr":0,"x":1136,"y":543,"wires":[["9914081.49947f8","4dcd538b.1d177c"],["8fed57f0.243f18","7aaa3df6.b59c44"]]},{"id":"8fed57f0.243f18","type":"rpi-gpio out","z":"cf446be9.32d468","name":"","pin":"11","set":true,"level":"0","freq":"","out":"out","x":1297,"y":635,"wires":[]},{"id":"4dcd538b.1d177c","type":"function","z":"cf446be9.32d468","name":"","func":"msg.payload = 0\nreturn msg;","outputs":1,"noerr":0,"x":1294,"y":534,"wires":[["83eb880c.ed4f78"]]},{"id":"83eb880c.ed4f78","type":"delay","z":"cf446be9.32d468","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1444,"y":534,"wires":[["d04776b3.9a1be8"]]},{"id":"d04776b3.9a1be8","type":"rpi-gpio out","z":"cf446be9.32d468","name":"","pin":"7","set":true,"level":"0","freq":"","out":"out","x":1634,"y":534,"wires":[]},{"id":"7aaa3df6.b59c44","type":"function","z":"cf446be9.32d468","name":"","func":"msg.payload = 0\nreturn msg;","outputs":1,"noerr":0,"x":1295,"y":584,"wires":[["86f85593.e09ea8"]]},{"id":"86f85593.e09ea8","type":"delay","z":"cf446be9.32d468","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1440,"y":584,"wires":[["42b70995.b59078"]]},{"id":"42b70995.b59078","type":"rpi-gpio out","z":"cf446be9.32d468","name":"","pin":"11","set":true,"level":"0","freq":"","out":"out","x":1636,"y":584,"wires":[]},{"id":"83f42df7.5196e","type":"mongodb","z":"","hostname":"192.168.43.92","port":"27017","db":"RFID_Pay","name":""}]